html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(https://www.gamegrin.com/assets/Uploads/_resampled/croppedimage1201631-Rainbow-Six-Siege-2015-Game-Wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#top {
  text-align: center;
  margin: 0 auto;
	background: #9FA896;
	width: 40%;
	margin-left:30%;
	margin-right:30%;
	text-align:center;
	line-height: 30px;
	padding: 10px;
}

#top h2 {
  font-size: 2em;
}

#content, #status{
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
  background: #9FA896;
  width: 40%;
  margin-left:30%;
	margin-right:30%;
	text-align:center;
	padding: 10px;
}

#content ul{
	list-style-type: none;
}